.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-mono);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 4rem 0;
}
.imagenes{
    display: flex;
}
.imagen {
    flex-grow: 1px;
    opacity: .4;
    width: 70px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}

.imagen:hover {
    cursor: pointer;
    width: 200px;
    opacity: 4;
    filter: contrast(120%);
    transform: scale(1.1);
    z-index: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
    transition: 0.5s ease-in-out;
}
.img p {
    opacity: 0;
}
.img p:hover {
    opacity: 1;
}
@media (max-width: 707px) {
    .imagen {
        width: 40px;
        height: 70px;
    }
    .imagen:hover {
        width: 80px;
    }


}