.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-mono);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 4rem 0;
}