.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    width: 100%;
    overflow: hidden; 
}
.title {
    padding: 3rem;
}
/* 
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
    padding: 20px;
} */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;  
    width: 4px;
    background: linear-gradient(180deg, #0f27ff92, #000000);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.timeline_item {
    position: relative;
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.timeline_item:nth-child(odd) {
    left: 0;
    text-align: right;
}
.timeline_item:nth-child(even) {
    left: 50%;
}
.timeline_item .content {
    padding: 15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
}
.timeline_item .content:hover {
    transform: scale(1.05);
}
.timeline_item::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: radial-gradient(circle, #a7a7a7, #ffffff);
    border-radius: 50%;
    top: 20px;
    left: calc(100% + 10px);
    box-shadow: 0 0 10px #ffffff;
}
.timeline_item:nth-child(even)::before {
    left: -16px;
}
.title_ex {
    color: #daff06;
}
.descripcion {
    font-size: 14px;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    .timeline::after {
        left: 20px;
    }
    .timeline_item {
        width: 100%;
        left: 0 !important;
        text-align: left;
        padding-left: 40px;
    }
    .timeline_item::before {
        left: 10px !important;
    }
}