.footer {
  font-family: Ubuntu;
    box-shadow:  0 5px 58px rgba(0, 0, 0, 0.9);
    padding: 1rem;
    background-image: url('../../public/laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 0px right 0px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.footer_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  
}
.footer_container_logo {
  display: block;
  justify-content: space-around;
}
.footer_logo_img {
  width: 250px;
  transition: all ease-in-out 0.2s;
}

.footer_logo_img:hover {
  transform: rotate3d(4, 4, 4, -10deg);
  filter: drop-shadow(0 4px 3px rgb(175, 183, 185));
}

.title {
  font-size: 1.7rem;
  color: hsl(207, 100%, 55%);
}

.footer_link {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
}

.footer_link:hover {
  color: hsl(207, 100%, 55%);
  transition: 0.4s ease-in-out;
}

.footer_copy {
  display: block;
  text-align: center;
  font-size: 0.89rem;
  margin-top: 4.5rem;
}
.footer_copy_name {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 2);

}
.footer_logo_center {
  display: flex;
  justify-content: center;
  align-items: center;

}
@media (max-width: 707px) {
  .footer_container {
    flex-wrap: wrap;
  }
  .footer_container_logo {
    width: 100vw;
  }
  .footer_social {
    width: 100vw;
  }
  .footer_content {
    padding: 5px;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}