.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    height: 100vh;
    font-family: var(--font-mono);
}
.container_cv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    font-family: var(--font-mono);
    
}

.informacion_cv_link{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px rgba(0, 106, 255, 0.5);
    transition: 0.3s ease-in-out;

}
.informacion_cv_link:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #0195ff, #0ee7fa);
    box-shadow: 0 5px 15px rgba(0, 247, 255, 0.5);
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}
.cvjuan {
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(94, 96, 100, 0.8);
    margin: 20px;
    width: 550px;
    height: 780px;
}

@media (max-width: 707px) {
    .container h1 {
        text-align: center;
        padding-top: 7.5rem;
    }
    .cvjuan{
        width: 300px;
        height: 380px;
    }
}