.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-mono);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 4rem 0;
}
.img { 
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(255,255,255, 0.7);
}