.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  font-family: var(--font-mono);
  padding: 1.2rem;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; 
}
.center_header {
  margin-bottom: 1.4rem;
  backdrop-filter: blur(20px);
  border: 1px solid #444;
  padding: 0.4rem;
  border-radius: 10px;
  width: 90vw;
}
.center_header_h1{
  font-size: 1.5rem;
}
.center_header_p {
  line-height: 1.3rem;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
}

.container_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.content {
  border: 1px solid #3d3d3d;
  background: rgb(10, 23, 54);
  border-radius: 1.3rem ;
}
.content_image{
  border-radius: 1.2rem 1.2rem 0rem 0rem ;
  padding: 0rem;
}
.content_footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.8rem;
}
.description {
  text-align: justify;
  color: rgb(232, 229, 228);
  padding: 0.3rem 0.4rem 0.4rem 0rem;
  font-size: 14px;
}
.content_footer_a{
  font-size: 0.86rem;
  transition: all 0.1s ease-in-out;
  background: #47b5ff;
  padding: 0.5rem;
  border-radius: 0.8rem;
  text-align: center;
}
.content_footer_a:hover {
  background: #1363df;
  letter-spacing: 0.01rem;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.805);
}
@media (max-width: 680px ) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}